<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<script type="text/javascript" src="/js/eventapp.js"></script>
		<title>Event App</title>
    </head>
    <body>
	<div id="main">
		<div id="uno" bgcolor="red"><h1>EventApp</h1></div>
		<hr></hr>
	</div>	
		<div id="boton1">
			<form action="/sing-up.html" method="post">
				<button>Login</button>
			</form>
		</div>
		<div id="boton2">
			<form action="/sing-up.html"  method="get">
				<button>Crear cuenta</button>
			</form>
		</div>
	</body>
</html>
