<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <link href="index_css.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="eventapp.js"></script>
		<title>Event App</title>
    </head>
    <body>
		<div id="uno"><h1>EventApp</h1></div>
		<hr></hr>
		<div id="form">
		Nickname <br>
		<input type=text id="nick_name_sing_up" NAME=MAILFORM_NAME size=30><br><br>

		Email<br>
		<input type=text NAME=MAILFORM_FROM size=30><br><br>
		
		Password<br>
		<input type=password NAME=MAILFORM_FROM size=30><br><br>
		
		Friend Code<br>
		<input type=text NAME=MAILFORM_FROM size=20>
		</div>
		<div id="ok">
			<a href="login.html" id="ok_sing_up"><button>Ok</button></a>
		</div>
		<br>
		<a href="index.html"><button>Volver</button></a>
   </body>
</html>
